<div class="jumbotron p-3">
  <div class="row">
    <div class="col-md my-3 text-right">
      <span>Work Date</span><br />
      <ng2-flatpickr placeholder="Select Date" class="w-20 float-right"
                     [config]="datePickr()" [(ngModel)]="irrigation.workDate">
      </ng2-flatpickr>
      <select class="form-control" [(ngModel)]="irrigation.method">
        <option [value]="undefined" disabled selected>Irrigation Method</option>
        <option *ngFor="let r of initIrrigationMethods()" [value]="r">{{r}}</option>
      </select>
    </div>



    <div class="w-100 d-block d-md-none">
      <hr />
    </div>



    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <button *ngIf="!irrigation.chemical" type="button" color="primary" (click)="irrigation.chemical = newChemical()"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button *ngIf="irrigation.chemical" type="button" color="warning" (click)="irrigation.chemical = undefined"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </span>
        <h5>Chemical</h5>
      </div>
      <div class="col-sm px-2 text-right" *ngIf="irrigation.chemical">
        <div class="row px-2">
          <select class="form-control" [(ngModel)]="irrigation.chemical.name">
            <option *ngIf="!irrigation.chemical.name" [value]="undefined" disabled selected>Select Chemical</option>
            <option *ngFor="let r of common.getValues('chemicals')" [value]="r">{{r}}</option>
          </select>
          <div class="form-inline">
            <div class="form-group">
              <input type="number" [(ngModel)]="irrigation.chemical.rate" class="form-control" pattern="\d*"
                     placeholder="Rate" />
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="irrigation.chemical.unit" >
                <option *ngIf="!irrigation.chemical.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                <option *ngFor="let r of initRateUnits()" [value]="r">{{r}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="w-100 d-block d-md-none">
      <hr />
    </div>



    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <button *ngIf="!irrigation.fertilizer" type="button" color="primary" (click)="irrigation.fertilizer = newChemical()"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button *ngIf="irrigation.fertilizer" type="button" color="warning" (click)="irrigation.fertilizer = undefined"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </span>
        <h5>Fertilizer</h5>
      </div>
      <div class="col-sm px-2 text-right" *ngIf="irrigation.fertilizer">
        <div class="row px-2">
          <select class="form-control" [(ngModel)]="irrigation.fertilizer.name">
            <option *ngIf="!irrigation.fertilizer.name" [value]="undefined" disabled selected>Select Fertilizer</option>
            <option *ngFor="let r of common.getValues('fertilizers')" [value]="r">{{r}}</option>
          </select>
          <div class="form-inline">
            <div class="form-group">
              <input type="number" [(ngModel)]="irrigation.fertilizer.rate" class="form-control" pattern="\d*"
                     placeholder="Rate" />
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="irrigation.fertilizer.unit" >
                <option *ngIf="!irrigation.fertilizer.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                <option *ngFor="let r of initRateUnits()" [value]="r">{{r}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button  mdbBtn color="primary" class="mt-4" (click)="submit()">Save</button>
</div>
