<div class="jumbotron p-3">
  <div class="row">
    <div class="col-md my-3">
      <h5>Date</h5>
      <ng2-flatpickr placeholder="Select Date" class="w-20 float-right"
                     [config]="datePickr(chem.date)" [(ngModel)]="chem.date">
      </ng2-flatpickr>
    </div>
    <div class="w-100 d-block d-md-none"><hr /></div>
    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <button *ngIf="!chem.chemical" type="button" color="primary" (click)="chem.chemical = newChemical()"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button *ngIf="chem.chemical" type="button" color="warning" (click)="chem.chemical = undefined"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </span>
        <h5>Chemical</h5>
      </div>
      <div class="col-sm px-2 text-right" *ngIf="chem.chemical">
        <div class="row px-2">
          <select class="form-control" [(ngModel)]="chem.chemical.name">
            <option *ngIf="!chem.chemical.name" [value]="undefined" disabled selected>Select Chemical</option>
            <option *ngFor="let r of initChemicals()" [value]="r">{{r}}</option>
          </select>
          <div class="form-inline">
            <div class="form-group">
              <input type="number" [(ngModel)]="chem.chemical.rate" class="form-control" pattern="\d*"
                     placeholder="Rate" />
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="chem.chemical.unit" >
                <option *ngIf="!chem.chemical.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                <option *ngFor="let r of initRateUnits()" [value]="r">{{r}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 d-block d-md-none"><hr /></div>

    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <button *ngIf="!chem.fertilizer" type="button" color="primary" (click)="chem.fertilizer = newChemical()"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button *ngIf="chem.fertilizer" type="button" color="warning" (click)="chem.fertilizer = undefined"
                  mdbBtn floating="true" size="lg" mdbWavesEffect>
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </span>
        <h5>Fertilizer</h5>
      </div>
      <div class="col-sm px-2 text-right" *ngIf="chem.fertilizer">
        <div class="row px-2">
          <select class="form-control" [(ngModel)]="chem.fertilizer.name">
            <option *ngIf="!chem.fertilizer.name" [value]="undefined" disabled selected>Select Fertilizer</option>
            <option *ngFor="let r of initFertilizers()" [value]="r">{{r}}</option>
          </select>
          <div class="form-inline">
            <div class="form-group">
              <input type="number" [(ngModel)]="chem.fertilizer.rate" class="form-control" pattern="\d*" placeholder="Rate" />
            </div>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="chem.fertilizer.unit" >
                <option *ngIf="!chem.fertilizer.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                <option *ngFor="let r of initRateUnits()" [value]="r">{{r}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button  mdbBtn color="primary" class="mt-4" (click)="submit()">Save</button>
</div>
