<div class="jumbotron p-3">
  <div class="row">
    <div class="col-md m-3">
      <input class="form-control" type="text" placeholder="Ranch Name" [(ngModel)]="card.ranchName"
             #ranchName="ngModel" required="required" minlength="1"
             [class.is-invalid]="submitAttempted && ranchName.invalid" />
      <input class="form-control" type="text" placeholder="Lot Number" [(ngModel)]="card.lotNumber" />
    </div>





    <div class="d-inline-block d-md-none w-100">
      <hr />
    </div>

    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <span class="mr-2">{{card.commodityArray.length}}/{{card.commodityMax}}</span>
          <button type="button" color="primary" (click)="addCommodities()" mdbBtn floating="true"
                  *ngIf="!card.commoditiesFull()"
                  size="lg" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i></button>
        </span>
        <h5>Commodities</h5>
      </div>
      <div class="col-sm border p-2 text-right" *ngFor="let p of card.commodityArray; let i = index">
        <div>
          <input type="text" [(ngModel)]="p.commodity" class="form-control"
                 placeholder="Commodity" />
          <input type="text" [(ngModel)]="p.variety" class="form-control"
                 placeholder="Variety" />
          <input type="number" [(ngModel)]="p.bedType" class="form-control"
                 placeholder="Bed Type" />
          <input type="text" [(ngModel)]="p.bedCount" class="form-control"
                 placeholder="Bed Count" />
          <input type="text" [(ngModel)]="p.cropAcres" class="form-control"
                 placeholder="Crop Acres" />
          <input type="text" [(ngModel)]="p.seedLotNumber" class="form-control"
                 placeholder="Seed Lot #" />
        </div>
        <hr />
        <button type="button" color="danger" (click)="card.commodityArray.splice(i, 1)" size="md"
                mdbBtn floating="true" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i></button>
      </div>
    </div>




    <div class="d-inline-block d-md-none w-100">
      <hr />
    </div>

    <div class="col-md my-3">
      <div class="mb-5 align-text-bottom">
        <span class="float-right">
          <span class="mr-2">{{card.preChemicalArray.length}}/{{card.preChemicalsMax}}</span>
          <button type="button" color="primary" (click)="addPreChemicals()" mdbBtn floating="true"
                  *ngIf="!card.preChemicalsFull()"
                  size="lg" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i></button>
        </span>
        <h5>Pre-Plant Chem</h5>
      </div>
      <div class="col-sm border p-2 text-right" *ngFor="let p of card.preChemicalArray; let i = index">
        <b>Date:</b>
        <ng2-flatpickr placeholder="Select Date" class="w-20" [config]="datePickr(p.date)" [(ngModel)]="p.date">
        </ng2-flatpickr>
        <b>Chemical:</b>
        <div>
          <div *ngIf="!p.chemical">
            <button type="button" color="success" (click)="p.chemical = newChemical()" mdbBtn floating="true"
                    size="lg" mdbWavesEffect><i class="fa fa-plus mr-1" aria-hidden="true"></i></button>
          </div>
          <div *ngIf="p.chemical">
            <div class="row px-2">
              <input type="text" [(ngModel)]="p.chemical.name" class="form-control"
                     placeholder="Fertilizer" />
              <div class="form-inline m-0">
                <input type="number" [(ngModel)]="p.chemical.rate" class="form-control"
                       placeholder="Rate" />
                <select class="form-control" [(ngModel)]="p.chemical.unit" >
                  <option *ngFor="let r of rateUnits">{{r}}</option>
                </select>
                <button type="button" color="warning" (click)="p.chemical = undefined" mdbBtn
                        floating="true" size="md" mdbWavesEffect>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <b>Fertilizer:</b>
        <div>
          <div *ngIf="!p.fertilizer">
            <button type="button" color="success" (click)="p.fertilizer = newChemical()" mdbBtn floating="true"
                    size="lg" mdbWavesEffect><i class="fa fa-plus mr-1" aria-hidden="true"></i></button>
          </div>
          <div *ngIf="p.fertilizer">
            <div class="row px-2">
              <input type="text" [(ngModel)]="p.fertilizer.name" class="form-control"
                     placeholder="Fertilizer" />
              <div class="form-inline m-0">
                <input type="number" [(ngModel)]="p.fertilizer.rate" class="form-control"
                       placeholder="Rate" />
                <select class="form-control" [(ngModel)]="p.fertilizer.unit" >
                  <option *ngFor="let r of rateUnits">{{r}}</option>
                </select>
                <button type="button" color="warning" (click)="p.fertilizer = undefined" mdbBtn
                        floating="true" mdbWavesEffect size="md">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <button type="button" color="danger" (click)="card.preChemicalArray.splice(i, 1)" size="md"
                mdbBtn floating="true" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i></button>
      </div>
    </div>


    <div class="d-inline-block d-md-none w-100">
      <hr />
    </div>


    <div class="col-md m-3">
      <input class="form-control" type="number" placeholder="Crop Year" [(ngModel)]="card.cropYear"
             [min]="1000" [max]="9999" #cropYear="ngModel"
             [class.is-invalid]="submitAttempted && (card.cropYear < 1000 || card.cropYear > 9999)" />
    </div>
  </div>


  <button mdbBtn type="submit" color="primary" (click)="submit()">Create</button>
</div>
