<div class="jumbotron p-3">
  <h1>Create A New Card</h1>
  <small>* required</small>
  <form [formGroup]="form">

      <!--Value: {{ form.value | json}}-->

      <div class="form-group">
        <label for="ranchNameInput" class="control-label">Ranch *</label>
        <select class="browser-default custom-select"  formControlName="ranch"
        [class.is-invalid]="this.submitAttempted && this.form.get('ranch').invalid" required>
          <option default disabled value="Select">Select</option>
          <option [ngValue]="ranch" *ngFor="let ranch of ranchList">{{ranch}}</option>
        </select>
        <div class="invalid-feedback" role="alert">Please Select a Ranch</div>
      </div>

      <div class="form-group">
        <label>Acre Size *</label>
        <input type="number" name="acreSize" formControlName="acreSize" class="form-control"
        [class.is-invalid]="this.submitAttempted && this.form.get('acreSize').invalid" required min="0">
        <div class="invalid-feedback" role="alert">Enter a valid acre size</div>
      </div>

      <div class="form-group">
          <label for="cropYearInput" class="control-label">Crop Year *</label>
          <select class="browser-default custom-select" formControlName="cropYear"
          [class.is-invalid]="this.submitAttempted && this.form.get('cropYear').invalid" required>
            <option>Select</option>
            <option [ngValue]="year" *ngFor="let year of cropYear">{{year}}</option>
          </select>
        <div class="invalid-feedback" role="alert">Please Select a Year</div>
      </div>

      <div class="form-group">
        <label for="commodityInput" class="control-label">Commodity *</label>
        <select class="browser-default custom-select" formControlName="commodity" (change)="changeCommodity($event.target.value)"
        [class.is-invalid]="this.submitAttempted && this.form.get('commodity').invalid" required>
          <option *ngFor ="let com of commodityList">{{com.commodity}} </option>
        </select>
        <div class="invalid-feedback" role="alert">Please Select a commodity</div>
      </div>

      <div class="form-group">
        <label for="varietyInput" class="control-label">Variety</label>
        <select class="browser-default custom-select" formControlName="variety">
          <option *ngFor ="let v of variety">{{v}} </option>
        </select>
      </div>

      <div class="form-group">
          <label for="lotNumberInput">Lot Number</label>
          <input type="number" name="lotNumber" formControlName="lotNumber" class="form-control" id="lotNumberInput"
          [class.is-invalid]="this.submitAttempted && this.form.get('lotNumber').invalid" min="1" class="browser-default custom-select">
          <div class="invalid-feedback" role="alert">Enter a valid number</div>
      </div>

      <div class="form-group">
          <label>Crop Number</label>
          <input type="number" name="cropNumber" formControlName="cropNumber" class="form-control"
          [class.is-invalid]="this.submitAttempted && this.form.get('cropNumber').invalid" min="0">
          <div class="invalid-feedback" role="alert">Enter a valid crop number</div>
      </div>

      <div class="form-group">
          <label>Seed Lot Number</label>
          <input type="number" name="seedLotNumber" formControlName="seedLotNumber" class="form-control"
          [class.is-invalid]="this.submitAttempted && this.form.get('seedLotNumber').invalid" min="0">
          <div class="invalid-feedback" role="alert">Enter a valid number</div>
      </div>

      <div class="form-group">
          <label for="bedTypeInput" class="control-label">Bed Type</label>
          <select class="browser-default custom-select" formControlName="bedType"
          [class.is-invalid]="this.submitAttempted && this.form.get('bedType').invalid">
          <option selected value='0'>Select</option>
          <option>40</option>
          <option>80</option>
        </select>
        <div class="invalid-feedback" role="alert">Please Select a valid bed type.</div>
      </div>

      <div class="form-group">
          <label for="pmInput" class="control-label">Prep Material</label>
            <select class="browser-default custom-select" formControlName="prepMaterial"
            [class.is-invalid]="this.submitAttempted && this.form.get('prepMaterial').invalid">
              <option default value="Select">Select</option>
              <option *ngFor ="let pm of prepMaterial"  [ngValue]="pm">{{pm}} </option>
            </select>
          <div class="invalid-feedback" role="alert">Please Select a Prep Material</div>
      </div>

        <button  mdbBtn color="primary" (click)="submit()">Create</button>
  </form>
</div>
