<div class="jumbotron p-3">
  <div>
    <div class="form-row">
      <div class="form-group col-md-7">
        <label for="ranchName"><b>Ranch Name</b></label>
        <select class="form-control" id="ranchName" name="ranchName" [(ngModel)]="card.ranchName"
          #ranchName="ngModel" required="required">
          <option *ngIf="!card.ranchName" [value]="undefined" disabled selected>Select Ranch Name</option>
          <option *ngFor="let r of getCommon('ranches')" [value]="r.id">{{r.value}}</option>
        </select>
      </div>
      <div class="form-group col-md">
        <label for="cropYear"><b>Crop Year</b></label>
        <input class="form-control" id="cropYear" name="cropYear" type="number" placeholder="Crop Year" [(ngModel)]="card.cropYear"
          [min]="1000" [max]="9999" #cropYear="ngModel" pattern="\d*"
          [class.is-invalid]="(card.cropYear < 1000 || card.cropYear > 9999)" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md">
        <label for="lotNumber"><b>Lot Number</b></label>
        <input class="form-control" id="lotNumber" name="lotNumber" type="text" placeholder="Lot Number" [(ngModel)]="card.lotNumber" />
      </div>
      <div class="form-group col-md">
        <label for="planterNumber"><b>Planter Number</b></label>
        <input class="form-control" id="planterNumber" name="planterNumber" type="text" placeholder="Planter Number" [(ngModel)]="card.planterNumber" />
      </div>
    </div>

    <div class="d-inline-block w-100"><hr /></div>

    <div class="form-row" style="text-align:center;">      
      <div class="col-md">
        <fieldset>
          <legend>
            <h4>Commodities &nbsp;&nbsp; <wbr> {{card.commodityArray.length}}/{{card.commodityMax}}
            <button type="button" color="primary" (click)="addCommodities()" mdbBtn *ngIf="!card.commoditiesFull()" floating="true"
              size="lg" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            </h4>
          </legend>
          <div class="col-sm border p-2 text-right" *ngFor="let p of card.commodityArray; let i = index">
            <div>
              <select class="form-control" [(ngModel)]="p.commodity" id="commodityInput" (ngModelChange)="p.variety = undefined"
                required="required" #commodityName="ngModel">
                <option *ngIf="!p.commodity" [value]="undefined" disabled selected>Select Commodity</option>
                <option *ngFor="let c of getCommon('commodities')" [value]="c.id">{{c.value.key}}</option>
              </select>
              <select class="form-control" [(ngModel)]="p.variety" id="varietyInput">
                <option *ngIf="!p.variety" [value]="undefined" disabled selected>Select Variety</option>
                <ng-container *ngIf="p.commodity">
                  <option *ngFor="let v of getVarieties(p.commodity)" [value]="v">{{v}}</option>
                </ng-container>                
              </select>
              <select class="form-control" [(ngModel)]="p.bedType">
                <option *ngIf="!p.bedType" [value]="undefined" disabled selected>Select Bed Type</option>
                <option *ngFor="let r of getCommon('bedTypes')" [value]="r.id">{{r.value}}</option>
              </select>
              <input type="number" [(ngModel)]="p.bedCount" class="form-control" placeholder="Bed Count" />
              <input type="number" [(ngModel)]="p.cropAcres" class="form-control" placeholder="Crop Acres" />
              <input type="text" [(ngModel)]="p.seedLotNumber" class="form-control" placeholder="Seed Lot #" />
            </div>
            <hr />
            <button type="button" color="danger" (click)="card.commodityArray.splice(i, 1)" size="md"
              mdbBtn floating="true" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </fieldset>
      </div>

      <div class="d-inline-block d-md-none w-100"><hr /></div>

      <div class="col-md">
        <fieldset>
          <legend>
            <h4>
              Pre-Plant Chem &nbsp;&nbsp; <wbr> {{card.preChemicalArray.length}}/{{card.preChemicalsMax}}
              <button type="button" color="primary" (click)="addPreChemicals()" mdbBtn *ngIf="!card.preChemicalsFull()" floating="true"
                size="lg" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </h4>
          </legend>
          <div class="col-sm border p-2 text-right" *ngFor="let p of card.preChemicalArray; let i = index">
            <b>Date:</b>
            <ng2-flatpickr placeholder="Select Date" class="w-20" [config]="datePickr(p.date)" [(ngModel)]="p.date"></ng2-flatpickr>
            <b>Chemical:</b>
            <div>
              <div *ngIf="!p.chemical">
                <button type="button" color="success" (click)="p.chemical = newChemical()" mdbBtn floating="true"
                  size="lg" mdbWavesEffect><i class="fa fa-plus mr-1" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="p.chemical">
                <div class="row px-2">
                  <select class="form-control" [(ngModel)]="p.chemical.name">
                    <option *ngIf="!p.chemical.name" [value]="undefined" disabled selected>Select Chemical</option>
                    <option *ngFor="let r of getCommon('chemicals')" [value]="r.id">{{r.value}}</option>
                  </select>
                  <div class="form-inline m-0">
                    <input type="number" [(ngModel)]="p.chemical.rate" class="form-control" placeholder="Rate" pattern="\d*" />
                    <select class="form-control" [(ngModel)]="p.chemical.unit">
                      <option *ngIf="!p.chemical.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                      <option *ngFor="let r of getCommon('chemicalRateUnits')" [value]="r.id">{{r.value}}</option>
                    </select>
                    <button type="button" color="warning" (click)="p.chemical = undefined" mdbBtn floating="true" size="md" mdbWavesEffect>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <b>Fertilizer:</b>
            <div>
            <div *ngIf="!p.fertilizer">
              <button type="button" color="success" (click)="p.fertilizer = newChemical()" mdbBtn floating="true"
                size="lg" mdbWavesEffect><i class="fa fa-plus mr-1" aria-hidden="true"></i>
              </button>
              </div>
              <div *ngIf="p.fertilizer">
                <div class="row px-2">
                  <select class="form-control" [(ngModel)]="p.fertilizer.name">
                    <option *ngIf="!p.fertilizer.name" [value]="undefined" disabled selected>Select Fertilizer</option>
                    <option *ngFor="let r of getCommon('fertilizers')" [value]="r.id">{{r.value}}</option>
                  </select>
                  <div class="form-inline m-0">
                    <input type="number" [(ngModel)]="p.fertilizer.rate" class="form-control" placeholder="Rate" pattern="\d*" />
                    <select class="form-control" [(ngModel)]="p.fertilizer.unit" >
                      <option *ngIf="!p.fertilizer.unit" [value]="undefined" disabled selected>Select Rate Unit</option>
                      <option *ngFor="let r of getCommon('chemicalRateUnits')" [value]="r.id">{{r.value}}</option>
                    </select>
                    <button type="button" color="warning" (click)="p.fertilizer = undefined" mdbBtn
                      floating="true" mdbWavesEffect size="md">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <button type="button" color="danger" (click)="card.preChemicalArray.splice(i, 1)" size="md"
              mdbBtn floating="true" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </fieldset>
      </div>

      <div class="d-inline-block d-md-none w-100"><hr /></div>

      <div class="col-md">
        <fieldset>
          <legend>
            <h4>
              Tractor Work &nbsp;&nbsp; <wbr> {{card.tractorArray.length}}/1
              <button type="button" color="primary" (click)="addTractor()" mdbBtn *ngIf="card.tractorArray.length < 1" floating="true"
                size="lg" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i></button>
            </h4>
          </legend>
          <div class="col-sm border p-2 text-right" *ngFor="let p of card.tractorArray; let i = index">
            <div>
              <input type="text" [(ngModel)]="p.operator" class="form-control" list="tractorOperators" placeholder="Tractor Operator" />
              <input type="hidden" [(ngModel)]="p.operatorID" class="form-control"/>
              <input type="text" [(ngModel)]="p.tractorNumber" class="form-control" placeholder="Tractor Number" />
              <input type="text" class="form-control" value="Initial Setup" readonly/>
              <input [ngModel]="p.workDate | date:'yyyy-MM-dd'" (ngModelChange)="p.workDate = fixDate($event)" type="date"/>
            </div>
            <hr />
            <button type="button" color="danger" (click)="card.tractorArray.splice(i, 1)" size="md"
              mdbBtn floating="true" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="d-inline-block w-100"><hr /></div>

    <button mdbBtn type="submit" color="primary" (click)="submit()">Create</button>
  </div>
</div>

<datalist id="tractorOperators">
  <option *ngFor="let r of getCommon('tractorOperators'); let i = index;" data-id="{{r.id}}" [value]="(i+1) + ' - ' + r.value">
</datalist>
