<h1> My Ranch Info</h1>

<br><label>Commodity & Variety</label>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Commodity</th>
      <th scope="col">Variety</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Lettuce</td>
      <td>Lettuce 1</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>Lettuce 2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tomato</td>
      <td>Tomato 1</td>
    </tr>
    <tr>
    <th scope="row"></th>
    <td></td>
    <td>Tomato 2</td>
    </tr>
    <tr>
    <th scope="row"></th>
    <td></td>
    <td>Tomato 3</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="exampleInput()">Update</button>

