<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light amber lighten-1 mb-4">
  <mdb-navbar-brand>
    <!-- On Mobile -->
      <a (click)="goBack()" class="navbar-brand d-md-none">
        <i *ngIf="hasParent()" class="mr-1 my-auto fa fa-angle-left"></i>
        <img *ngIf="isLoggedIn()" src="/assets/images/logo.svg" height="30" class="mr-3">
        {{titleService.getPageTitle()}}
      </a>
    <!-- On Desktop -->
      <a (click)="goBack()" class="navbar-brand d-none d-md-inline-block">
        <img *ngIf="isLoggedIn()" src="/assets/images/logo.svg" height="30" class="mr-3">
        <b>{{titleService.getSiteTitle()}}</b> | {{titleService.getPageTitle()}}
      </a>
  </mdb-navbar-brand>
  <links *ngIf="isLoggedIn()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item p-2" routerLinkActive="active" routerLink="/entry" *ngIf="hasRole(role.DATA_ENTRY)">
          <a class="nav-link waves-light" mdbWavesEffect>Entry</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" routerLink="/manage"
            *ngIf="hasRole(role.DATA_VIEW) || (hasRole(role.DATA_ENTRY) && hasRole(role.DATA_EDIT))">
          <a class="nav-link waves-light" mdbWavesEffect>Data</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" routerLink="/userManagement" *ngIf="hasRole(role.USER_MANAGEMENT)">
          <a class="nav-link waves-light" mdbWavesEffect>Users</a>
        </li>
        <li class="nav-item p-2" routerLinkActive="active" routerLink="/admin" *ngIf="hasRole(role.APP_ADMIN)">
          <a class="nav-link waves-light" mdbWavesEffect>Admin</a>
        </li>
        <li class="nav-item dropdown p-2" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <i class="fa fa-user-circle p-1"></i> Hi, {{getName()}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/changePassword" *ngIf="hasEmail()">
                Change Password
              </a>
              <div class="divider dropdown-divider" *ngIf="hasEmail()"></div>
              <a class="dropdown-item waves-light" (click)="logout()" mdbWavesEffect>Logout</a>
          </div>
        </li>
      </ul>
  </links>
</mdb-navbar>
