<div class="row">
  <div class="col-md align-self-center text-center">
    <h1>Logo</h1>
  </div>
  <div class="col-md">
    <div class="jumbotron">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="usernameInput">Username</label>
          <input type="username" name="username" formControlName="username" class="form-control" id="usernameInput" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" name="password" formControlName="password" class="form-control" id="passwordInput" placeholder="Enter password">
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" formControlName="rememberMe">
              <label class="form-check-label" for="rememberMe">Stay logged in</label>
            </div>
          </div>
          <div class="form-group col text-right">
            <a routerLink="">Forgot password?</a>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
      </form>
    </div>
  </div>
</div>
