<div class="row">
    <div class="col-md align-self-center text-center">
        <img src="/assets/images/logo.svg" style="width: 50%;" class="">
    </div>
    <div class="col-md">
      <div class="jumbotron py-5">
        <div *ngIf="this.isRequired()" class="text-center mb-4">
            <span class="badge badge-danger"><h4>You must change your password.</h4></span>
        </div>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="oldPasswordInput">Current Password</label>
            <input type="password" name="oldPassword" formControlName="oldPassword" class="form-control" id="oldPasswordInput"
            placeholder="Enter current or temporary password"
            [class.is-invalid]="this.submitAttempted && this.form.get('oldPassword').invalid" required>
            <div class="invalid-feedback" role="alert">Current password is required.</div>
          </div>
          <hr />
          <div class="form-group">
            <label for="newPasswordInput">New Password</label>
            <input type="password" name="newPassword" formControlName="newPassword" class="form-control" id="newPasswordInput" placeholder="Enter new password"
            [class.is-invalid]="this.submitAttempted && this.form.get('newPassword').invalid" required>
            <div class="invalid-feedback" role="alert">New password must be at least 4 characters long.</div>
          </div>
          <div class="form-group">
              <label for="verifyNewPasswordInput">Verify New Password</label>
              <input type="password" name="verifyNewPassword"
                formControlName="verifyNewPassword" class="form-control" id="verifyNewPasswordInput" placeholder="Enter new password again"
                [class.is-invalid]="this.submitAttempted && !this.newPasswordVerified()" required>
                <div class="invalid-feedback" role="alert">Doesn't match new password.</div>
            </div>
          <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
