<div class="jumbotron p-3 container">

  <ng-container *ngIf="!preset"><h3 style="text-align: center;">Loading ...</h3></ng-container>
  <ng-container *ngIf="preset">
    <div class="row m-2">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="presetName">Preset Name</label>
            <input type="text" class="form-control" name="presetName" placeholder="New Preset" [(ngModel)]="preset.name" [disabled]="!isAppAdmin()">
          </div>
        </form>
      </div>
    </div>
  
    <div class="row ml-4 mr-4">
      <a class="text-primary" (click)="collapseToggle('dynamicInfo')">
        <h6>
          <i class="fas mr-1" [ngClass]="{ 'fa-caret-right': isCollapsed('dynamicInfo'), 'fa-caret-down': !isCollapsed('dynamicInfo') }"></i>
          <span style="color: black">Dynamic</span>
        </h6>
      </a>
      <p id="dynamicInfo" class="collapse">
        <b>Enabled:</b> Export will only print enough entry space to accommodate for the card with the most entries in the given section. (e.g. if all cards had at most 3 tractor entries, only 3 tractor entry sections will be shown per card instead of the default 12).
        <br>
        <b>Disabled:</b> Export will always print the max number of entries per section, whether a card has that number of entries in the given section or not. (e.g. 3 commodities, 12 tractor entries, etc.)
      </p>
    </div>
    
    <div class="row m-3 p-2">
      <fieldset>
        <legend>Card</legend>
        <div class="row m-2" *ngFor="let e of preset['card']; let i = index">
          <div class="col col-auto">
            <button type="button" color="light" mdbBtn class="float-right" (click)="shiftDown('card', e.key)" size="sm" floating="true" mdbWavesEffect [disabled]="i >= preset['card'].length - 1">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </button>
            <button type="button" color="light" mdbBtn class="float-right" (click)="shiftUp('card', e.key)" size="sm" floating="true" mdbWavesEffect [disabled]="i <= 0" >
              <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col">
            <h5 *ngIf="!preset.hasNestedObject('card', e.key) || !e.value">{{e.display}}</h5>
            <a *ngIf="e.value && preset.hasNestedObject('card', e.key)" class="text-primary" (click)="collapseToggle('card-' + e.key + '-nested')">
              <h5>
                <i class="fas mr-1" [ngClass]="{ 'fa-caret-right': isCollapsed('card-' + e.key + '-nested'), 'fa-caret-down': !isCollapsed('card-' + e.key + '-nested') }"></i>
                <span class="ml-1">{{e.display}}</span>
              </h5>
            </a>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label for="{{'card' + '-' + e.key + '-enabled'}}">Enabled:</label>
                <input id="{{'card' + '-' + e.key + '-enabled'}}" type="checkbox" class="ml-1" [(ngModel)]="e.value" [disabled]="!isAppAdmin()"/>
              </div>
              <div class="col" *ngIf="e.value && preset.hasDynamic('card', e.key)">
                <label for="{{'card' + '-' + e.key + '-dynamic'}}">Dynamic:</label>
                <input id="{{'card' + '-' + e.key + '-dynamic'}}" type="checkbox" class="ml-1" [(ngModel)]="preset.dynamic['card'][e.key]" [disabled]="!isAppAdmin()"/>
              </div>
            </div>
          </div>
          <div class="w-100 p-"><hr class="m-0 mt-2"></div>
          <div id="{{'card-' + e.key + '-nested'}}" class="col m-4 nested-1 collapse" *ngIf="e.value && preset.hasNestedObject('card', e.key)">                
              <div class="row m-2" *ngFor="let f of preset[preset.getDynamicAccessor('card', e.key)]; let j = index">
                <div class="col col-auto">
                  <button type="button" color="light" mdbBtn class="float-right" (click)="shiftDown(preset.getDynamicAccessor('card', e.key), f.key)" size="sm" floating="true" 
                    mdbWavesEffect [disabled]="j >= preset[preset.getDynamicAccessor('card', e.key)].length - 1">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </button>
                  <button type="button" color="light" mdbBtn class="float-right" (click)="shiftUp(preset.getDynamicAccessor('card', e.key), f.key)" size="sm" floating="true" mdbWavesEffect [disabled]="j <= 0" >
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col">
                  <h5 *ngIf="!preset.hasNestedObject(preset.getDynamicAccessor('card', e.key), f.key) || !f.value">{{f.display}}</h5>
                  <a *ngIf="f.value && preset.hasNestedObject(preset.getDynamicAccessor('card', e.key), f.key)" class="text-primary" (click)="collapseToggle(preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-nested')">
                    <h5>
                      <i class="fas mr-1" [ngClass]="{ 'fa-caret-right': isCollapsed(preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-nested'), 'fa-caret-down': !isCollapsed(preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-nested') }"></i>
                      <span class="ml-1">{{f.display}}</span>
                    </h5>
                  </a>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <label for="{{preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-enabled'}}">Enabled:</label>
                      <input id="{{preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-enabled'}}" type="checkbox" class="ml-1" [(ngModel)]="f.value" [disabled]="!isAppAdmin()"/>
                    </div>
                    <div class="col" *ngIf="e.value && preset.hasDynamic(preset.getDynamicAccessor('card', e.key), f.key)">
                      <label for="{{preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-dynamic'}}">Dynamic:</label>
                      <input id="{{preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-dynamic'}}" type="checkbox" class="ml-1" [(ngModel)]="preset.dynamic[preset.getDynamicAccessor('card', e.key)][f.key]" [disabled]="!isAppAdmin()"/>
                    </div>
                  </div>       
                </div>
                <div class="w-100 p-"><hr class="m-0 mt-2"></div>
                <div id="{{preset.getDynamicAccessor('card', e.key) + '-' + f.key + '-nested'}}" class="col m-4 nested-1 collapse" *ngIf="f.value && preset.hasNestedObject(preset.getDynamicAccessor('card', e.key), f.key)">                
                  <div class="row m-2" *ngFor="let g of preset[preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key)]; let k = index">
                    <div class="col col-auto">
                      <button type="button" color="light" mdbBtn class="float-right" (click)="shiftDown(preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key), g.key)" size="sm" floating="true" 
                        mdbWavesEffect [disabled]="k >= preset[preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key)].length - 1">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                      </button>
                      <button type="button" color="light" mdbBtn class="float-right" (click)="shiftUp(preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key), g.key)" size="sm" floating="true" mdbWavesEffect [disabled]="k <= 0" >
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="col">
                      <h5>{{g.display}}</h5>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <label for="{{preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key) + '-' + g.key + '-enabled'}}">Enabled:</label>
                          <input id="{{preset.getDynamicAccessor(preset.getDynamicAccessor('card', e.key), f.key) + '-' + g.key + '-enabled'}}" type="checkbox" class="ml-1" [(ngModel)]="g.value" [disabled]="!isAppAdmin()"/>
                        </div>
                      </div>       
                    </div>
                    <div class="w-100 p-"><hr class="m-0 mt-2"></div>
                  </div>
                </div>
              </div>
          </div>   
        </div>
      </fieldset>
    </div>
  
    <div class="row justify-content-end" *ngIf="isAppAdmin()">
      <div class="col col-auto">
        <button mdbBtn type="submit" color="danger" (click)="delete()">Delete</button>
      </div>
      <div class="col col-auto">
        <button mdbBtn type="submit" color="success" (click)="saveCopy()">Save as Copy</button>
      </div>
      <div class="col col-auto">
        <button mdbBtn type="submit" color="primary" (click)="submit()">Save</button>
      </div>
    </div>
  </ng-container>
</div>
