<div class="jumbotron p-3">
  <div class="row">
    <div class="col d-none d-md-inline-block">
      <form class="form-inline">
        <input class="form-control mr-sm-2" name="filter" type="search" placeholder="Search" aria-label="Search"
               [(ngModel)]="filter" (keyup)="filterItems()" mdbInput>
      </form>
    </div>
    <div class="col d-none d-md-inline-block text-center">
      <button type="button"color="primary" name="cardCount" outline="true" disabled
              mdbBtn floating="true" size="sm">
        <span *ngIf="!filter">Cards: </span>
        <span *ngIf="filter">Search Results: </span>
        <b>{{cards.length}}</b>
      </button>
    </div>
    <div class="col d-none d-md-inline-block" *ngIf="hasViewPermission()">
      <button type="button" class="float-right" color="primary" routerLink="/manage/export" name="addCard"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Export Data</button>
      <span>Listings: &nbsp;</span>
      <select class="form-control form-control-sm select-sm"  (ngModelChange)="updateNumPages($event)" [(ngModel)]="viewSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
      <div class="col">
        <h2 *ngIf="!cards">Loading data...</h2>
        <table mdbTable *ngIf="cards">
          <thead class="text-nowrap">
            <tr>
              <th scope="col" class="small" [mdbTableSort]="cards" [sortBy]="'fieldID'" style="width:20%;max-width:20%;">
                <span>ID <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'ranchName'" style="width:15%;max-width:15%;">
                <span>Ranch<span class="d-none d-md-inline-block"></span> <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'lotNumber'" style="width:15%;max-width:15%;">
                <span>Lot # <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'commodityString'" style="width:15%;max-width:15%;">
                <span>Commodities <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'lastUpdated'" style="width:10%;max-width:10%;">
                Last Updated <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'closed'" style="width:10%;max-width:10%;">
                State <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" style="width:10%;max-width:10%;">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let p of cards; let i = index" class="animated fadeIn" [style.animation-delay]="this.min((30*i), 1000)+ 'ms'">
              <ng-container *ngIf="showListing(i)">
                <td>
                  <input type="number" [(ngModel)]="p.fieldID" class="form-control form-control-sm" placeholder="Field ID" style="width: 10em; display:inline-block"/> 
                  <button type="button" color="success" (click)="updateFieldId(p)" class="mr-1 mb-1" mdbBtn floating="true" size="sm" style="display: inline-block;">
                        <i class="fas fa-check ml-1"></i>
                  </button>
                </td>
                <td class="hover">{{p.ranchName}}<span class="hover-text">{{p.ranchName}}</span></td>
                <td class="hover">{{p.lotNumber}}<span class="hover-text">{{p.lotNumber}}</span></td>
                <td class="hover">{{p.commodityString}} <span class="hover-text">{{p.commodityString}}</span></td>
                <td>{{p.lastUpdated | date:'longDate'}}</td>
                <td>
                  <h5 *ngIf="p.closed">
                    <span class="badge badge-light">
                      Closed
                    </span>
                  </h5>
                  <h5 *ngIf="!p.closed">
                    <span class="badge badge-primary">
                      Open
                    </span>
                  </h5>
                </td>
                <td>
                  <button type="button" color="success" [routerLink]="['/manage/o/', p.id]"
                          alt="View Card" class="mr-1 mb-1" mdbBtn floating="true" size="sm">
                    Open <i class="ml-1 fa fa-external-link-alt" aria-hidden="true"></i>
                  </button>
                </td>
              </ng-container>
              </tr>
          </tbody>
          <tfoot>
            <tr>
                <th scope="row" colspan="9">
                  <span class="page-btn" [ngClass]="{'selected': p == pageNum}" (click)="setPage(1)"><i class="fas fa-angle-double-left"></i></span>
                  <span class="page-btn" [ngClass]="{'selected': p == pageNum}" (click)="setPage(pageNum-1)"><i class="fas fa-angle-left"></i></span>
                  <span *ngFor="let p of pages"><span class="page-btn" [ngClass]="{'selected': p == pageNum}" (click)="setPage(p)">{{p}}</span></span>
                  <span class="page-btn" [ngClass]="{'selected': p == pageNum}" (click)="setPage(pageNum+1)"><i class="fas fa-angle-right"></i></span>
                  <span class="page-btn" [ngClass]="{'selected': p == pageNum}" (click)="setPage(numPages)"><i class="fas fa-angle-double-right"></i></span>
                </th>
            </tr>
           </tfoot>
        </table>
      </div>
    </div>
</div>
