<div class="jumbotron p-3">
  <h2 *ngIf="!card">Loading...</h2>
  <div *ngIf="card" >
    <div class="row">
      <div class="col">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="harvestDate"><h5>Harvest Date</h5></label>
            <ng2-flatpickr placeholder="Harvest Date" id="harvestDate" formControlName="harvestDate"
                           [config]="flatpickrOptions">
            </ng2-flatpickr>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button *ngIf="card" type="button" class="btn btn-danger float-right" (click)="closeCard()">
          <span>Harvested </span>
          <i class="fas fa-check ml-1"></i>
        </button>
      </div>
    </div>
  </div>
</div>
