<div class="jumbotron p-3">
  <div class="row">
    <div class="col d-none d-md-inline-block">
      <form class="form-inline">
        <input class="form-control mr-sm-2" name="filter" type="search" placeholder="Search" aria-label="Search"
               [(ngModel)]="filter" (keyup)="filterItems()" mdbInput>
      </form>
    </div>
    <div class="col d-none d-md-inline-block text-center">
      <button type="button"color="primary" name="cardCount" outline="true" disabled
              mdbBtn floating="true" size="sm">
        <span *ngIf="!filter">Cards: </span>
        <span *ngIf="filter">Search Results: </span>
        <b>{{cards.length}}</b>
      </button>
    </div>
    <div class="col d-none d-md-inline-block" *ngIf="hasViewPermission()">
      <button type="button" class="float-right" color="primary" routerLink="/contractor/export" name="addCard"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Export Data</button>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
      <div class="col">
        <h2 *ngIf="!cards">Loading data...</h2>
        <table mdbTable *ngIf="cards">
          <thead class="text-nowrap">
            <tr>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'ranchName'" style="width:12%;max-width:12%;">
                <span>Ranch<span class="d-none d-md-inline-block"></span> <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'lotNumber'" style="width:12%;max-width:12%;">
                <span>Lot # <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'commodityString'" style="width:10%;max-width:10%;">
                <span>Commodities <i class="fa fa-sort ml-1"></i></span>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'hoeDate'" style="width:18%;max-width:15%;">
                Hoe Date <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'thinDate'" style="width:18%;max-width:15%;">
                Thin Date <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" style="width:5%;max-width:5%;">
                Update
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'lastUpdated'" style="width:10%;max-width:10%;">
                Last Updated <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" [mdbTableSort]="cards" [sortBy]="'closed'" style="width:8%;max-width:8%;">
                State <i class="fa fa-sort ml-1"></i>
              </th>
              <th class="small" style="width:8%;max-width:8%;">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let p of cards; let i = index" class="animated fadeIn" [style.animation-delay]="this.min((30*i), 1000)+ 'ms'">
              <td class="hover">{{p.ranchName}}<span class="hover-text">{{p.ranchName}}</span></td>
              <td class="hover">{{p.lotNumber}}<span class="hover-text">{{p.lotNumber}}</span></td>
              <td class="hover">{{p.commodityString}} <span class="hover-text">{{p.commodityString}}</span></td>
              <td>
                <ng2-flatpickr placeholder="Select Date" [config]="hoeDateConfigs[p.id]" [(ngModel)]="p.hoeDate"></ng2-flatpickr>
                <select class="form-control form-control-sm" [(ngModel)]="p.hoeType" [disabled]="!p.hoeDate">
                  <option *ngIf="!p.hoeType" [value]="undefined" disabled selected>Select Hoe Type</option>
                  <option *ngFor="let r of initWorkTypes()" [value]="r">{{r}}</option>
                </select>
              </td>
              <td>
                <ng2-flatpickr placeholder="Select Date" [config]="thinDateConfigs[p.id]" [(ngModel)]="p.thinDate"></ng2-flatpickr>
                <select class="form-control form-control-sm" [(ngModel)]="p.thinType" [disabled]="!p.thinDate">
                  <option *ngIf="!p.thinType" [value]="undefined" disabled selected>Select Thin Type</option>
                  <option *ngFor="let r of initWorkTypes()" [value]="r">{{r}}</option>
                </select>
              </td>
              <td>
                <button type="button" color="success" (click)="updateCard(p)" class="mr-1 mb-1" mdbBtn floating="true" size="sm" style="display: inline-block;">
                 <i class="fas fa-check ml-1"></i>
                </button>
              </td>
              <td>{{p.lastUpdated | date:'longDate'}}</td>
              <td>
                <h5 *ngIf="p.closed">
                  <span class="badge badge-light">
                    Closed
                  </span>
                </h5>
                <h5 *ngIf="!p.closed">
                  <span class="badge badge-primary">
                    Open
                  </span>
                </h5>
              </td>
              <td>
                <button type="button" color="success" [routerLink]="['/contractor/o/', p.id]"
                        alt="View Card" class="mr-1 mb-1" mdbBtn floating="true" size="sm">
                  Open <i class="ml-1 fa fa-external-link-alt" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
