<div class="container">
  <div class="row">
    <div class="col-sm-3 offset-9">
      <button type="button" mdbBtn color="primary" mdbWavesEffect>Add New User</button>
    </div>
  </div>
  <div class="row" id="row1">
    <div class="col-2"><b>Name</b></div>
    <div class="col-2"><b>Email</b></div>
    <div class="col-2"><b>Permissions</b></div>
    <div class="col-2"><b>Password Last Changed</b></div>
    <div class="col-2"></div>
    <div class="col-2"><b>Options</b></div>
  </div>

  <div class="row">
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2"></div>
    <div class="col-2">.col-2</div>
  </div>

  <div class="row">
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2"></div>
    <div class="col-2">.col-2</div>
  </div>

  <div class="row">
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2"></div>
    <div class="col-2">.col-2</div>
  </div>

  <div class="row">
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2">.col-2</div>
    <div class="col-2"></div>
    <div class="col-2">.col-2</div>
  </div>
</div>
