<div class="jumbotron p-3">
  <div class="row">
    <div class="col">
      <button type="button" class="float-right" color="primary" routerLink="/addUser" name="addUser"
      mdbBtn floating="true" size="sm" mdbWavesEffect>Add User <i class="fa fa-plus ml-1" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table mdbTable>
        <thead>
          <tr>
            <th scope="col" *ngFor="let f of fields">{{f}}</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let p of users" class="animated flipInX">
            <th scope="row">{{p.username}}</th>
            <td>{{p.realName}}</td>
            <td>{{p.email}}</td>
            <td>{{p.passwordUpdated | date:'longDate'}}</td>
            <td>{{p.permissions}}</td>
            <td>
              <button type="button" color="amber" routerLink="/editUser/{{p.username}}" alt="Edit User" class="mr-1"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Edit <i class="ml-1 fa fa-edit" aria-hidden="true"></i></button>
              <button type="button" color="danger" alt="Delete User" (click)="deleteUser(p.username)"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Delete <i class="ml-1 fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
