<!-- User Name Section -->
<!-- Button not usable yet -->
<div class="row">
    <div class="col-6">
      <table mdbTable>
        <thead class="yellow darken-3 ">
          <tr>
            <th scope="col">User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><b>Username:</b> {{this.userName}}<br><button type="button" mdbBtn color="primary" mdbWavesEffect>Change Username</button></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <!-- Personal Info Section -->
    <!-- Button not usable yet -->
    <div class="row">
        <div class="col-6">
          <table mdbTable>
            <thead class="yellow darken-3 ">
              <tr>
                <th scope="col">Personal Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><b> Name:</b> {{this.realName}}<br><button type="button" mdbBtn color="primary" mdbWavesEffect>Change Name</button></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    <!-- Email Section -->
    <!-- Button not usable yet -->
    <div class="row">
        <div class="col-6">
          <table mdbTable>
            <thead class="yellow darken-3 ">
              <tr>
                <th scope="col">Email Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"><b>Email:</b> {{this.email}}<br><button type="button" mdbBtn color="primary" mdbWavesEffect>Change Email</button></th>

              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Password section -->
      <!-- Button not usable yet -->
      <!-- In progress -->
      <div class="row">
          <div class="col-6">
            <table mdbTable>
              <thead class="yellow darken-3 ">
                <tr>
                  <th scope="col">Password</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><button type="button" mdbBtn color="primary" mdbWavesEffect>Change Password</button></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
