<div class="jumbotron p-3">
  <h5 *ngIf="loading">Scanning all cards for ranch names and commodities... Should be done in a moment.</h5>
  <h5 *ngIf="generating">Generating the CSV... Should be done in a moment.</h5>
  <div class="row" *ngIf="!(loading || generating)">
    <div class="col-3">
      <label for="harvestFromDate" class="control-label">From Harvest Date</label>
      <ng2-flatpickr placeholder="Select Date" id="harvestFromDate" [config]="flatpickrOptions" [(ngModel)]="fromDate">
      </ng2-flatpickr>
    </div>
    <div class="col-3">
      <label for="harvestToDate" class="control-label">To Harvest Date</label>
      <ng2-flatpickr placeholder="Select Date" id="harvestToDate" [config]="flatpickrOptions" [(ngModel)]="toDate">
      </ng2-flatpickr>
    </div>
    <div class="col-3 mt-4">
      <ng-multiselect-dropdown *ngIf="!loading"
          [placeholder]="'Select Ranch'"
          [data]="getCommon('ranches')"
          [(ngModel)]="selectedRanches"
          [settings]="multiselectSettings">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-3 mt-4">
      <ng-multiselect-dropdown *ngIf="!loading"
        [placeholder]="'Select Commodities'"
        [data]="getCommon('commodities')"
        [(ngModel)]="selectedCommodities"
        [settings]="multiselectSettings">
      </ng-multiselect-dropdown>
    </div>
    <div class="col d-none d-md-inline-block mt-2">
      <button type="button" class="float-right" color="primary" name="addCard" (click)="generate()"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Generate & Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-inline">
        <div class="form-group">
          <input type="checkbox" class="form-check" [(ngModel)]="includeUnharvested" id="includeUnharvested" />
        </div>
        <div class="form-group ml-2">
          <label for="includeUnharvested">Include Open Cards (Not Yet Harvested)</label>
        </div>
      </div>
    </div>
  </div>
</div>
