<div class="jumbotron p-3">
  <div class="row">
    <div class="col-3">
      <label for="workDateInput" class="control-label">From Work Date</label>
      <ng2-flatpickr placeholder="Work Date" id="workFromDate"
                      [config]="flatpickrOptions">
      </ng2-flatpickr>
    </div>
    <div class="col-3">
      <label for="workDateInput" class="control-label">To Work Date</label>
      <ng2-flatpickr placeholder="Work Date" id="workToDate"
                      [config]="flatpickrOptions2">
      </ng2-flatpickr>
    </div>
    <div class="col-3 mt-4">
      <form [formGroup]="myFormRanch">
        <ng-multiselect-dropdown
            name="ranch"
            [placeholder]="'Select Ranch'"
            [data]="commonData.getValues('ranches')"
            formControlName="ranch"
            [disabled]="disabled"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </form>
    </div>
    <div class="col-3 mt-4">
      <form [formGroup]="myFormCommodity">
        <ng-multiselect-dropdown
          name="commodity"
          [placeholder]="'Select Commodity'"
          [data]="commodities"
          formControlName="commodity"
          [disabled]="disabled"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)">
        </ng-multiselect-dropdown>
      </form>
    </div>
    <div class="col d-none d-md-inline-block mt-2">
      <button type="button" class="float-right" color="primary" name="addCard" (click)="generateExampleCard()"
              mdbBtn floating="true" size="sm" mdbWavesEffect>Example Generate/Save Button</button>
    </div>
  </div>
</div>
