<div class="jumbotron p-3">
  <h2 *ngIf="!common">Loading...</h2>
  <div class="row" *ngIf="common">
    <div class="col-lg-4 border p-3" *ngFor="let k of getSimpleTables()">
      <h4>{{getName(k)}}</h4>
      <table mdbTable class="table">
        <thead>
        <tr>
          <th scope="col" class="small">Name</th>
          <th scope="col" class="small">Options</th>
        </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let c of common[k]; let i = index">
            <td>
              {{c}}
            </td>
            <td>
              <button type="button" color="danger" (click)="removeElement(k, common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button type="button" color="light" (click)="shiftDown(k, common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect [disabled]="i >= common[k].length - 1">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button type="button" color="light" (click)="shiftUp(k, common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect [disabled]="i <= 0" >
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr mdbTableCol>
            <td>
              <input [type]="getType(k)" [(ngModel)]="entries[k]" class="form-control"
                     (keyup.enter)="addElement(k, common[k], entries[k])" />
            </td>
            <td>
              <button type="button" color="primary" (click)="addElement(k, common[k], entries[k])" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
