<div class="jumbotron p-3">
  <h2 *ngIf="!common">Loading...</h2>
  <div class="row" *ngIf="common">
    <div class="col-lg-4 border p-3" *ngFor="let k of getSimpleTables()">
      <h4>{{getName(k)}}</h4>
      <table mdbTable class="table table-sm" small="true">
        <thead>
          <tr>
            <th scope="col" class="small">Name</th>
            <th scope="col" class="small minOptWidth">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let c of common[k].sort(); let i = index">
            <td>
                <input [type]="getType(k)" [(ngModel)]="c" class="form-control form-control-sm" style="width: 10em; display:inline-block"/> 
                <button type="button" color="success" (click)="updateElement(k, common[k], common[k], i, c)" class="mr-1 mb-1" mdbBtn floating="true" size="sm" style="display: inline-block;">
                      <i class="fas fa-check ml-1"></i>
                </button>
            </td>
            <td class="minOptWidth">
              <button type="button" color="danger" (click)="removeElement(k, common[k], common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect>
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button type="button" color="light" (click)="shiftDown(k, common[k], common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect [disabled]="i >= common[k].length - 1">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </button>
              <button type="button" color="light" (click)="shiftUp(k, common[k], common[k], i)" mdbBtn class="float-right"
                      size="sm" floating="true" mdbWavesEffect [disabled]="i <= 0" >
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr mdbTableCol>
            <td>
              <input [type]="getType(k)" [(ngModel)]="entries[k]" class="form-control"
                     (keyup.enter)="addElement(k, common[k], common[k], entries[k])" />
            </td>
            <td>
              <button type="button" color="primary" (click)="addElement(k, common[k], common[k], entries[k])" mdbBtn
                      size="sm" floating="true" mdbWavesEffect><i class="fa fa-plus" aria-hidden="true"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="col-lg-12 border p-3" *ngFor="let k of getHashTables()">
      <h4>{{getName(k)}}</h4>
      <table mdbTable class="table table-sm" small="true">
        <thead>
        <tr>
          <th scope="col" class="small" width="25%">Name</th>
          <th scope="col" class="small" width="25%">Variety Input</th>
          <th scope="col" class="small" width="40%">Current Varieties</th>
          <th scope="col" class="small" width="10%">Options</th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTableCol *ngFor="let c of getKeys(common[k]).sort(); let i = index; ">
          <td>
              <input [type]="getType(k)" [ngModel]="c" id="commodity{{i}}" class="form-control form-control-sm" style="width: 10em; display:inline-block"/> 
              <button type="button" color="success" (click)="updateHashElement(k, common[k], common[k], i, c)" class="mr-1 mb-1" mdbBtn floating="true" size="sm" style="display: inline-block;">
                    <i class="fas fa-check ml-1"></i>
              </button>
          </td>
          <td>
            <div class="form-group row">
              <input type="text" [(ngModel)]="entries[k]['varieties'][c]" (keyup.enter)="addElement(k, common[k], common[k][c], entries[k]['varieties'][c], true)" />
              <button type="button" color="primary" mdbBtn size="sm" floating="true" mdbWavesEffect
                (click)="addElement(k, common[k], common[k][c], entries[k]['varieties'][c], true)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </td>
          <td>
            <h6>
              <span class="badge badge-light m-1" *ngFor="let v of common[k][c]; let j = index">
                {{v}}
                <i class="fas fa-times ml-1" (click)="removeElement(k, common[k], common[k][c], j)"></i>
              </span>
            </h6>
          </td>
          <td>
            <button type="button" color="danger"  mdbBtn class="float-right" size="sm" floating="true" mdbWavesEffect
              (click)="popHashCategory(k, common[k], common[k], i, c)">
              <!--  "updateHashElement(k, common[k], common[k], i, c)" -->
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr mdbTableCol>
          <td>
            <input [type]="getType(k)" [(ngModel)]="entries[k]['category']" class="form-control"
              (keyup.enter)="addHashCategory(k, common[k], common[k], entries[k]['category'])"/>
          </td>
          <td>
            <button type="button" color="primary" mdbBtn size="sm" floating="true" mdbWavesEffect
              (click)="addHashCategory(k, common[k], common[k], entries[k]['category'])">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
