<a (click)="fpModal.show()" class="text-primary">Forgot password?</a>

<div mdbModal #fpModal="mdbModal" class="modal fade text-left" tabindex="-1"
     role="dialog" aria-labelledby="fpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" [class.disabled]="isLoading" aria-label="Close"
                (click)="fpModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="fpModalLabel">Reset Password</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">
          If your password was provided to you by an administrator, you must contact them for assistance.
        </div>

        <form [formGroup]="form">
          <div class="form-group">
            <label for="usernameFpInput">Enter your username and a temporary password will be emailed to you.</label>
            <input type="text" name="usernameFp" formControlName="usernameFp" class="form-control"
                   id="usernameFpInput" placeholder="Enter username"
                   [class.is-invalid]="error">
            <div class="invalid-feedback" role="alert">{{error}}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light"
                    (click)="fpModal.hide()" [class.disabled]="isLoading">Close</button>
            <button type="submit" class="btn btn-danger" (click)="submit()"
                    [class.disabled]="isLoading">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
