<div class="jumbotron p-3">
  <h2 *ngIf="!card">Loading...</h2>
  <div *ngIf="card" >
    <div class="row">
      <div class="col-md">
        <h5>
          <b>Ranch:</b>
          <i> {{card.ranchName}}</i>
        </h5>
        <h5>
          <b>Lot #:</b>
          <i> {{card.lotNumber}}</i>
        </h5>
      </div>
      <div class="col-md">
        <button *ngIf="card && editable && !editing" type="button" class="btn btn-warning mt-n2 float-right" (click)="toggleEditing()">
          <span>Edit <i class="fas fa-edit ml-1"></i></span>
        </button>
        <button *ngIf="card && editable && editing" type="button" class="btn btn-light mt-n2 float-right" (click)="clearChanges()">
          <span>Cancel <i class="fas fa-times ml-1"></i></span>
        </button>
        <button *ngIf="card && editable && editing" type="button" class="btn btn-success mt-n2 float-right" (click)="saveChanges()">
          <span>Save <i class="fas fa-save ml-1"></i></span>
        </button>
        <button *ngIf="card && editable" type="button" class="btn mt-n2 float-right" (click)="toggleCard()"
                [class.btn-light]="card.isClosed" [class.btn-primary]="!card.isClosed">
          <span *ngIf="card.isClosed">Reopen <i class="fas fa-upload ml-1"></i></span>
          <span *ngIf="!card.isClosed">Close <i class="fas fa-check ml-1"></i></span>
        </button>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-sm border p-4">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Ranch Name:</b>
        <br />
        <input type="text" [(ngModel)]="card.ranchName" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Field ID:</b>
        <br />
        <input type="number" [(ngModel)]="card.fieldID" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Ranch Manager:</b>
        <br />
        <input type="text" [(ngModel)]="card.ranchManagerName" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Lot #:</b>
        <br />
        <input type="text" [(ngModel)]="card.lotNumber" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Total Acres:</b>
        <br />
        <input type="number" [(ngModel)]="card.totalAcres" [disabled]="!editing" />
      </div>
      <div class="col-sm border p-4">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Bed Type:</b>
        <br />
        <input type="text" [(ngModel)]="card.bedType" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Lorsban Rate:</b>
        <br />
        <input type="text" [(ngModel)]="card.lorsbanRate" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Diaznon Rate:</b>
        <br />
        <input type="text" [(ngModel)]="card.diaznonRate" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Kerb Rate:</b>
        <br />
        <input type="text" [(ngModel)]="card.kerbRate" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Dacthal Rate:</b>
        <br />
        <input type="text" [(ngModel)]="card.dacthalRate" [disabled]="!editing" />
      </div>
      <div class="col-sm border p-4">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Crop Year:</b>
        <br />
        <input type="text" [(ngModel)]="card.cropYear" [disabled]="!editing" />
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Wet Date:</b>
        <br />
        <div *ngIf="!editing">
          {{card.wetDate | date:'shortDate'}}
        </div>
        <ng2-flatpickr placeholder="Wet Date" id="wetDate" [setDate]="card.wetDate.toString()"
                       [(ngModel)]="card.wetDate" *ngIf="editing">
        </ng2-flatpickr>
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Thin Date:</b>
        <br />
        <div *ngIf="!editing">
          {{card.thinDate | date:'shortDate'}}
        </div>
        <ng2-flatpickr placeholder="Thin Date" id="thinDate" [setDate]="card.thinDate.toString()"
                       [(ngModel)]="card.thinDate" *ngIf="editing">
        </ng2-flatpickr>
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Hoe Date:</b>
        <br />
        <div *ngIf="!editing">
          {{card.hoeDate | date:'shortDate'}}
        </div>
        <ng2-flatpickr placeholder="Hoe Date" id="hoeDate" [setDate]="card.hoeDate.toString()"
                       [(ngModel)]="card.hoeDate" *ngIf="editing">
        </ng2-flatpickr>
        <br />
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Harvest Date:</b>
        <br />
        <div *ngIf="!editing">
          {{card.harvestDate | date:'shortDate'}}
        </div>
        <ng2-flatpickr placeholder="Harvest Date" id="harvestDate" [setDate]="card.harvestDate.toString()"
                       [(ngModel)]="card.harvestDate" *ngIf="editing">
        </ng2-flatpickr>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Commodity:</b>
      </div>
      <div class="col">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Crop Acres:</b>
      </div>
      <div class="col">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Bed Count:</b>
      </div>
      <div class="col">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Seed Lot #:</b>
      </div>
      <div class="col">
        <i class="fas fa-caret-square-right mr-2"></i>
        <b>Variety:</b>
      </div>
    </div>
    <hr />
    <div class="row mt-4">
      <div class="col-md">
        <h5>Irrigation Data</h5>
        <table mdbTable *ngIf="card" class="table-responsive">
          <thead>
          <tr>
            <th scope="col" class="small">Date</th>
            <th scope="col" class="small">Method</th>
            <th scope="col" class="small">Fertilizer</th>
            <th scope="col" class="small">Gallons</th>
          </tr>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let p of card.irrigationData; let i = index">
            <td class="small">{{p.workDate | date:'shortDate'}}</td>
            <td class="small">{{p.method}}</td>
            <td class="small">{{p.fertilizer}}</td>
            <td class="small">{{p.gallons}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md">
        <h5>Tractor Data</h5>
        <table mdbTable *ngIf="card" class="table-responsive">
          <thead>
          <tr>
            <th scope="col" class="small">Date</th>
            <th scope="col" class="small">Done</th>
            <th scope="col" class="small">Operator</th>
            <th scope="col" class="small">Fertilizer</th>
            <th scope="col" class="small">Gallons</th>
          </tr>
          </thead>
          <tbody>
          <tr mdbTableCol *ngFor="let p of card.tractorData; let i = index">
            <td class="small">{{p.workDate | date:'shortDate'}}</td>
            <td class="small">{{p.workDone}}</td>
            <td class="small">{{p.operator}}</td>
            <td class="small">{{p.fertilizer}}</td>
            <td class="small">{{p.gallons}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<button *ngIf="card && editable" type="button" class="btn btn-danger mt-n2 float-right" (click)="deleteCard()">
  <span>Delete </span>
  <i class="fas fa-trash ml-1"></i>
</button>
