<div class="jumbotron p-3">
  <form [formGroup]="form">
    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary float-right" (click)="submit()">
          Save User <i class="ml-1 fa fa-save" aria-hidden="true"></i>
        </button>
        <button *ngIf="hadEmail" type="submit" class="btn btn-danger float-right" (click)="resetPassword()">
          Reset Password
        </button>
      </div>
    </div>

    <div class="m-5">
      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" name="username" formControlName="username" class="form-control" id="usernameInput"
                 [class.is-invalid]="submitAttempted && form.get('username').invalid" required>
            <div class="invalid-feedback" role="alert">Username must be at least 4 characters long.</div>
          </div>
        </div>
        <div class="col-md">
          <div class="form-group" *ngIf="!manualPassword">
            <label for="emailInput">Email</label>
            <input type="email" name="email" formControlName="email" class="form-control" id="emailInput"
                   placeholder="user@example.com" [class.is-invalid]="submitAttempted && form.get('email').invalid" required>
            <div class="invalid-feedback" role="alert">A valid email address is required.</div>
          </div>
          <div class="form-group" *ngIf="manualPassword">
            <label for="passwordInput">Password</label>
            <input type="password" name="password" formControlName="password" class="form-control" id="passwordInput"
                   placeholder="Enter password">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="form-group">
            <label for="realNameInput">Employee Name</label>
            <input type="text" name="realName" formControlName="realName" class="form-control" id="realNameInput"
                   [class.is-invalid]="submitAttempted && form.get('realName').invalid" required>
            <div class="invalid-feedback" role="alert">User's full name is required.</div>
          </div>
        </div>
        <div class="col-md" *ngIf="isShipper()">
          <div class="form-group">
            <label for="shipperID">Shipper ID</label>
            <select class="form-control" id="shipperID" name="shipperID" formControlName="shipperID">
              <option *ngFor="let r of commonData.getValues('shippers')" [value]="r.id">{{r.value}}</option>
            </select>
            <div class="invalid-feedback" role="alert">Invalid Shipper ID</div>
          </div>
        </div>
        <div class="col-md">
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <label for="roleSelector">Permissions</label>
                <br />
                <div *ngIf="user.permissions.length <= 0 || user.passwordReset" class="badge badge-dark text-wrap">
                  User Disabled:
                  <div *ngIf="user.permissions.length <= 0" class="mt-1">User Has No Permissions</div>
                  <div *ngIf="user.passwordReset" class="mt-1">Password Change Required</div>
                </div>
                <div>
                  <div formArrayName="roles" *ngFor="let c of getRoleFormControls(); let i = index"
                       class="form-check form-check-inline" name="roleSelector" id="roleSelector">
                    <input class="form-check-input" type="checkbox" name="{{i}}" id="{{i}}" [formControlName]="i">
                    <label for="{{i}}">
                      <span class="badge mr-1" [ngClass]="PlRoleLookup[roleList[i]]['style']"
                            [mdbTooltip]="PlRoleLookup[roleList[i]]['description']">
                        {{roleList[i].toString() | underscoreToSpace | titlecase}}
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm" *ngIf="hasPerms()">
              <div class="form-group">
                <label for="ranchAccessSelector">Entry Access</label>
                <ng-multiselect-dropdown
                  id="ranchAccessSelector"
                  formControlName="ranchAccess"
                  [placeholder]="'Select Ranches'"
                  [data]="commonData.getValues('ranches')"
                  [settings]="multiSelectSettings">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <div class="float-right my-2 alert alert-info" mdbTooltip="Force the user to use a specific password.">
        <label for="manualPassword" class="mr-2">Manual Password</label>
        <input type="checkbox" [(ngModel)]="manualPassword" id="manualPassword">
      </div>
    </div>
  </div>
</div>
